

body {
	background: #e0e2e2;
}


#footerLeftPart {
	float: left;
	background: #e0e2e2 url("../_images/base-pattern.png") repeat-x scroll bottom left;
	min-height: 360px;
	width: 100%;
}

#footerRightPart {
	float: right;
	background: #e0e2e2 url("../_images/base.png") no-repeat scroll bottom right;
	min-height: 360px;
	min-width: 554px;
}


.blackBkgr {
	background: #222222;
	color: #ffffff;
}

.grayText {
	color: #222222;
}

.borderAll {
	padding: 6px;
	margin-left: 0px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: 16px;
	border: 1px solid #bdd;
}

.borderRight {
	margin-left: 0px;
	margin-top: 6px;
	margin-bottom: 6px;
	
	padding-right: 16px;
	margin-right: 16px;
	border-right: 1px solid #bdd;
}

.italic {
	font-style: italic;
}

.justify {
	text-align: justify;
}

.alignRight {
	text-align: right;
}

h1 a {
	text-decoration: none;
	color: #222222;
}

